.header-area{
    background: #91E0F5;
}
.logo-area{
    padding: 10px;
}
.list-area{
    display: inline-block;
}
.list-area ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}
.list-area li{
    display: inline-block;
    margin-right: 25px;
    transition: .5s;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
}
.list-area li:hover{
    background: #FF6E40;
    padding: 2px;
    text-decoration: none;
}