.map-area{
    height: 200px;
   
}
.map-area img{
    width: 100%;
}
.form-area{
    background: #EFEFEF;
}
.form-area button:hover{
  background: #FF6E40;
}
.show-area{
    background:#EFEFEF;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.people-area{
   padding: 2px; 
}
.left{
    float: left;
    width: 70%;
}
.right{
    float: right;
    width: 30%;
}

@media screen and (max-width: 400px) {
    .full-form-area{
        margin: 20px 0px;
    }
    .map-area{
        margin: 20px 0px;
    }
  }